@import "../../variables";

.wrapperChatItem {
  position: relative;
}

.chatItemBox {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border-bottom: solid 1px map-get($theme-colors, "gray-2");
  &:hover {
    cursor: pointer;
  }
  .userPhoto,
  .userInitialBox {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .userInitialBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($theme-colors, "blue");
    color: map-get($theme-colors, "white");
    @extend %h1;
    font-size: 25px;
  }
  .messageInformation {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 80px);
    width: 100%;
    height: 71px;
    .nameTimeBox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      .nameCountBox {
        display: flex;
        flex-direction: row;
        .userName {
          margin: 0;
          @extend %h3;
        }
        .countOfMessages {
          width: 20px;
          .MuiBadge-badge {
            top: 7px;
            background-color: map-get($theme-colors, "blue");
            color: map-get($theme-colors, "white");
            @extend %caption-bold;
          }
        }
      }
      .timeBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
          height: 17px;
          fill: map-get($theme-colors, "black");
          opacity: 0.7;
          margin-right: 7px;
        }
        p {
          margin: 0;
          @extend %body-2;
          color: map-get($theme-colors, "gray-4");
        }
      }
    }
    .messageText {
      margin: 0;
      @extend %body-2;
    }
  }
}

.chatItemBox.selectedChatBox {
  background-color: map-get($theme-colors, "blue");
  .userInitialBox {
    background-color: map-get($theme-colors, "white");
    color: map-get($theme-colors, "blue");
  }
  .messageInformation {
    .nameTimeBox {
      .nameCountBox {
        .userName {
          color: map-get($theme-colors, "white");
        }
        .countOfMessages {
          width: 20px;
          .MuiBadge-badge {
            top: 7px;
            background-color: map-get($theme-colors, "white");
            color: map-get($theme-colors, "blue");
          }
        }
      }
      .timeBox {
        svg {
          fill: map-get($theme-colors, "white");
          opacity: 1;
        }
      }
    }
    .messageText {
      color: map-get($theme-colors, "white");
    }
  }
}

.conversationContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .userInformationBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    .userPhotoInConversation,
    .userInitialConversation {
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }
    .userInitialConversation {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: map-get($theme-colors, "blue");
      color: map-get($theme-colors, "white");
      @extend %h1;
      font-size: 25px;
      border-radius: 100%;
    }
    .controlsSelectedBox {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: calc(100% - 80px);
      p {
        margin: 0;
        @extend %h3;
      }
      button {
        height: 15px;
        padding: 0;
        text-transform: none;
        color: map-get($theme-colors, "blue");
        @extend %caption-medium;
      }
    }
    .userInformationContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 80px);
      .userName {
        margin: 0 0 10px 0;
        @extend %h1;
      }
      .userActivity {
        margin: 0;
        @extend %caption;
        color: map-get($theme-colors, "gray-4");
      }
      .moreOptionsButton {
        width: 32px;
        height: 32px;
        min-width: 32px;
        border-radius: 0;
        svg {
          fill: map-get($theme-colors, "blue");
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: map-get($theme-colors, "gray-2");
  }
  ::-webkit-scrollbar-thumb {
    background: map-get($theme-colors, "blue");
  }
  .conversationBox {
    background-color: map-get($theme-colors, "white");
    width: auto;
    margin-top: 10px;
    height: 100%;
    border-radius: 15px 0 0 0;
    padding: 10px 23px;
    overflow-y: auto;
    overflow-x: hidden;
    .messageItemBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
      .messageIdentifier,
      .selectedMessageIdentifier {
        width: 23px;
        height: 23px;
        border-radius: 100%;
        margin-left: 25px;
      }
      .messageIdentifier {
        border: solid 2px map-get($theme-colors, "blue");
      }
      .selectedMessageIdentifier {
        border: solid 2px map-get($theme-colors, "blue");
        background-color: map-get($theme-colors, "blue");
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          fill: map-get($theme-colors, "white");
          font-size: 15px;
        }
      }
    }
    .messageItemBox:last-child {
      margin-bottom: 0;
    }
    .messageItemBox.rightMessageBox {
      justify-content: flex-end;
      .messageBox {
        background-color: map-get($theme-colors, "blue");
        .messageText {
          color: map-get($theme-colors, "white");
        }
        .messageTimeReadBox {
          .messageTime {
            color: map-get($theme-colors, "white");
            opacity: 0.5;
          }
          svg {
            fill: map-get($theme-colors, "white");
          }
        }
      }
    }
    .messageItemBox.leftMessageBox {
      justify-content: space-between;
      .messageBox {
        background-color: map-get($theme-colors, "gray-1");
        .messageText {
          color: map-get($theme-colors, "light-black");
        }
        .messageTimeReadBox {
          .messageTime {
            color: map-get($theme-colors, "light-black");
            opacity: 0.3;
          }
          svg {
            fill: map-get($theme-colors, "light-black");
          }
        }
      }
    }
    .messageBox {
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      padding: 10px 12px;
      max-width: 312px;
      width: auto;
      .messageText {
        margin: 0;
        @extend %body-1-medium;
      }
      .messageTimeReadBox {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 5px;
        .messageTime {
          margin: 0 5px 0 0;
          @extend %button-navigation;
          font-weight: 400;
        }
        svg {
          font-size: 15px;
        }
      }
    }
  }
}

.controlsChatBox {
  position: absolute;
  bottom: -80px;
  left: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  padding: 15px 0;
  .controlsNewMessageBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .newMessageField {
      width: 100%;
      margin: 0 10px;
      .MuiInputBase-root {
        height: 43px;
        border-radius: 30px;
        background-color: map-get($theme-colors, "gray-1");
        @extend %body-1;
        input {
          color: map-get($theme-colors, "black");
          @extend %body-1-medium;
        }
        fieldset {
          border-color: map-get($theme-colors, "gray-1");
        }
      }
      .MuiInputBase-root.Mui-focused {
        background-color: map-get($theme-colors, "white");
        fieldset {
          border-color: map-get($theme-colors, "blue");
        }
      }
    }
    button {
      padding: 0;
      width: 32px;
      height: 32px;
      min-width: 32px;
    }
  }
  .controlsSelectedChatBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
      padding: 0;
      width: 32px;
      height: 32px;
      min-width: 32px;
    }
    .deleteMessageButton {
      margin-right: 55px;
    }
  }
}
